.DS_Store

/.vs/
/src/.vs/

Debug

src/CST.Avalonia/DawnCache/
src/CST.Avalonia/GPUCache/
src/CST.Avalonia/CST_CefGlue_*/
*.log

src/CST.Avalonia/logs/

src/CST.Core/obj/

src/CST.Avalonia/obj/

dock_reflection/obj/

screenshots/
