.DS_Store

/.vs/
/src/.vs/

Debug

src/CST.Avalonia/DawnCache/
src/CST.Avalonia/GPUCache/
src/CST.Avalonia/CST_CefGlue_*/
src/CST.Avalonia/logs/
src/CST.Avalonia/obj/
src/CST.Avalonia/bin/
src/CST.Avalonia/CST Reader.app/
src/CST.Avalonia/publish/
src/CST.Avalonia/dist/

src/CST.Avalonia.Tests/obj/

src/CST.CharacterAnalysis/bin/
src/CST.CharacterAnalysis/obj/

src/CST.Core/bin/
src/CST.Core/obj/

src/CST.Lucene/bin/
src/CST.Lucene/obj/

src/CST.ScriptValidation/bin/
src/CST.ScriptValidation/obj/

*.log

screenshots/
